<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OutInDB.Properties.Settings.OutInDbConnectionString"
            connectionString="Data Source=ADOLFOROJAS\SQLEXPRESS;Initial Catalog=OutInDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OutInDB.Properties.Settings.OutInDbConnectionString1"
            connectionString="Data Source=DESKTOP-2G5FPU9;Initial Catalog=OutInDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OutInDB.Properties.Settings.OutInDbConnectionString2"
            connectionString="Data Source=DATACENTER2017;Initial Catalog=OutInDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OutInDB.Properties.Settings.outinDBConnectionString3"
            connectionString="Data Source=DESKTOP-A1PQ06J;Initial Catalog=outinDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OutInDB.Properties.Settings.outinDBConnectionString4"
            connectionString="Data Source=DATACENTER2017;Initial Catalog=outinDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>